.section
    .container
        .header
            .logo
            nav.nav
                ul.nav-list
                    li.nav-list__item
                    li.nav-list__item
                    li.nav-list__item
                    li.nav-list__item
                    li.nav-list__item
            ul.icon-list
                li.icon-list__item
                li.icon-list__item
                li.icon-list__item
                li.icon-list__item
        .main
            .central-text
                .central-text__main
                .central-text__secondary
            .control
                .control__text
                .control__image